/* .App {
 
 
} */

#salaryInput{
  margin-top: 3vh;
}

#title{
  font-size: 8vh;
  font-weight: bold;
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
  font-family: "Myriad Pro";
  /* color: navy; */
  color: white;
  padding-bottom: 3vh;

}

.info{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 3vh;
}

.labelClass{
  font-size: 3vh;
  color: black;
}

body{
  /* background-color: cadetblue; */
  background-color: white;
  /* background-color: #0077B5 */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

